# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
nul

# Build outputs
*.log

# Vercel
.vercel
